/* start variables */
:root{
    --main-color: #10cab7;
    --h2-color:#2c4755;
    --p-color:#333;
}

/* end variables */

/* stat global rules */

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Work Sans", system-ui;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Small */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}

.special-heading{
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    color: #ebeceb;
    letter-spacing: -3px;
    margin: 0px;
}

.special-heading + p{
    text-align: center;
    color: #333;
    margin: -30px 0px 0px ;
    font-size: 20px;
}

@media (max-width: 767px){
    .special-heading{
        font-size: 70px;
    }
    
    .special-heading + p{
        margin-top: -20px  ;
    }

}

/* end global rules */

/* start header */
.header{
    padding: 20px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
}

.header .links{
    z-index: 1;
    position: relative;
}

.header .links:hover .icon span:nth-child(2){
    width: 100%;
}

.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span{
    margin-bottom: 5px;
    background-color: #333;
    height: 3px;
}

.header .links .icon span:first-child{
    width: 100%;
}

.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.4s;
}

.header .links .icon span:last-child{
    width: 100%;
}

.header .links ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #f6f6f6;
    position: absolute;
    right: 0px;
    min-width: 200px;
    top: calc(100% + 20px);
    display: none;
}

.header .links:hover ul{
    display: block;
}

.header .links ul::before{
    content: "";
    border-width:10px ;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}

.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--p-color);
    transition: 0.3s;
}

.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}

.header .links ul li a:hover{
    padding-left: 25px;
    color: var(--main-color);
}

/* end header */
/* start landing section */
.landing{
    background-image: url(../img/black_and_1534817744-1024x475.jpeg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative; 
}

.landing .container{
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    width: 360px;
    max-width: 100%;
    height: 180;
}

.landing h1{
    margin: 0px;
    text-align: center ;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.landing p{
    font-size: 19px;
    color: var(--p-color);
    line-height: 1.8;
}
/* end landing section */

/* Start Features */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0px 20px;
}

.features .container .features-contint{
    padding: 20px;
    text-align: center;
}

.features .container .features-contint i{
    color: var(--main-color);
}

.features .container .features-contint h3{
    font-family: 800;
    color: var(--h2-color);
    margin: 30px 0px;
}
.features .container .features-contint p{
    color: #777;
    line-height: 1.8;
    font-size: 17px;
}
/* End Features */
/* Start Services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0px 30px;
    margin-top: 100px;
}

.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px){
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .srv .text{
    flex:1;
}

.services .services-content .srv .text h3{
    margin: 0 0 20px;
}

.services .services-content .srv .text p{
    color: var(--p-color);
    font-weight: 300;
    line-height: 1.8;
}

.services img{
    width: 260px;
}

.services .services-content .img{
    position: relative;
    text-align: center;
}

.services .services-content .img::before{
    content: "";
    background-color: var(--h2-color);
    width: 80px;
    height:calc(100% + 100px);
    right: 0px;
    top: -50px;
    position: absolute;
    z-index: -1;
}

@media (max-width: 1199px){
    .img-colom{
        display: none;
    }
}
/* End Services */
/* Start Portfolio */
.protfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.protfolio .container .protfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.protfolio .col{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.protfolio .container .protfolio-content .col img{
    width: 100%;
}

.protfolio .container .protfolio-content .col .text{
    padding: 20px 20px;
}

.protfolio .container .protfolio-content .col .text h3{
    margin: 0;
}

.protfolio .container .protfolio-content .col .text p{
    color: var(--p-color);
    line-height: 1.6;
    margin-bottom: 0;
}

/* End Portfolio */
/* Start About */
.about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about .container .about-content{
    display: grid;
    grid-template-columns:repeat(2, minmax(300px, 1fr));
    grid-template-areas: "img text text";
    margin-top: 100px;
    gap: 30px;
}

@media (max-width: 767px){
    .about .container .about-content{
        grid-template-columns:repeat(1, minmax(300px, 1fr));
        grid-template-rows:repeat(auto-fill, minmax(300px, 1fr));
        grid-template-areas: "img" "text" "text";
        text-align: center;
    }
}

.about .container .about-content .img {
    position: relative;
}

.about .container .about-content .img::after{
    content: "";
    position: absolute;
    width: 120px;
    height: calc(100% - 84px);
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    left: 209px;
    top: -40px;
    z-index: -1;
}

.about .container .about-content .img::before{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

@media (max-width: 767px){
    .about .container .about-content .img::after{
        content: "";
        display: none;
    }
    
    .about .container .about-content .img::before{
        content: "";
        display: none;
    }
}

.about .container .about-content .img img{
    grid-area: img;
    width: 250px;
}

.about .container .about-content .text{
    grid-area: text;
}

.about .container .about-content .text p:first-of-type{
    position: relative;
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 2;
}

.about .container .about-content .text p:first-of-type::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: var(--main-color);
    bottom: -25px;
}

@media (max-width: 767px){
    .about .container .about-content .text p:first-of-type::before{
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        background-color: var(--main-color);
        bottom: -25px;
        right: 25%;
    }
}

.about .container .about-content .text hr{
    display: inline-block;
    color: var(--main-color);
    width: 50%;
}

.about .container .about-content .text p:last-of-type{
    line-height: 2;
    color: var(--p-color);
}
/* End About */

/* Start Contact */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.contact .info {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: #2c4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .info .social i {
    margin-left: 10px;
    color: #2c4755;
}
@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
    font-size: 25px;
    }
}
  /* End Contact */
/* Start Footer */
.footer {
    background-color: #2c4755;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}
  /* End Footer */